@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(82,79,128,1) 100%);
    font-family: 'Lato', sans-serif;
}

.main-wrap {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.location-wrap {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-display {
    height: 80%;
    padding: 1rem;
}

.display-wrap {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp {
    padding-top: 5%;
}

.temp-description {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}